@using QueroBar.Models.Entities;
@inject QueroBar.Models.Data.DatabaseContext db

@{
    ViewData["Title"] = "Home Page";
    var categorias = db.Categories.ToList();
    var events = db.Events.ToList();
}

<div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Carregando...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Carousel -->


    <div class="container-fluid p-0">
        <div class="owl-carousel header-carousel position-relative">

                @foreach (var evento in events)
                {
                    <div class="owl-carousel-item position-relative">
                        <img src="@evento.Path" style="width:100%; height:750px" class="img-fluid" alt="" />
                        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                             style="background: rgba(43, 57, 64, .5);">
                            <div class="container">
                                <div class="row justify-content-start">
                                    <div class="col-10 col-lg-8">
                                        <h1 class="display-3 text-white animated slideInDown mb-4">@evento.Name</h1>
                                        <p class="fs-5 fw-medium text-white mb-4 pb-2">
                                            @evento.Description
                                        </p>
                                        <a asp-controller="Event"
                                           asp-action="Index"
                                           asp-route-id="@evento.Id"
                                           class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">
                                            Detalhes
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

        </div>

    </div>
    <!-- Carousel -->
    <!-- Barra de pesquisa -->
    <div class="container-fluid bg-primary mb-5" data-wow-delay="0.1s" style="padding: 35px;">
        <div class="container">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <input type="text" class="form-control border-0" placeholder="Nome" />
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0">
                                <option selected>Categoria</option>
                                @foreach(var category in categorias)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0">
                                <option selected>Data</option>
                                <option value="1">Location 1</option>
                                <option value="2">Location 2</option>
                                <option value="3">Location 3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-dark border-0 w-100">Pesquisar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Barra de pesquisa -->
    <!-- Adicionados Recentemente -->
    <div class="container-xxl py-3">
        <div class="container">
            <!-- favorite section starts   -->
            <section id="iq-favorites">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 overflow-hidden">
                            <div class="iq-main-header d-flex align-items-center justify-content-between">
                                <h4 class="main-title">Adicionados Recentemente</h4>
                                <a href="#" class="iq-view-all" style="color: #FF7628;">Ver Mais</a>
                            </div>
                            <div class="favorite-contens">
                                <ul class="favorites-slider list-inline row p-0 mb-0">

                                        @foreach (var evento in events)
                                        {
                                            <li class="slide-item">
                                                <div class="block-images position-relative">
                                                    <div class="img-box">
                                                    <img src="@evento.Path?id=@evento.Id" style="width:100%; height:175px" class="img-fluid" alt="" />
                                                    </div>
                                                    <div class="block-description">
                                                        <h6 class="iq-title">
                                                            <a href="Eventos"> @evento.Name </a>
                                                        </h6>
                                                        <div class="movie-time d-flex align-items-center my-2">
                                                            <div class="badge badge-secondary p-1 mr-2">+18</div>
                                                            <span class="text-white" style="margin-left: 5px;">
                                                                @evento.Pub.User.Name
                                                            </span>
                                                        </div>
                                                        <a asp-action="Index"
                                                           asp-controller="Event"
                                                           asp-route-id="@evento.Id">
                                                            <div class="hover-buttons">
                                                                <span class="btn btn-hover iq-button">
                                                                    <i class="fa fa-play mr-1"></i>
                                                                    Mais Detelhes
                                                                </span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Populares da Semana -->
    <div class="container-xxl py-3">
        <div class="container">
            <!-- favorite section starts   -->
            <section id="iq-favorites">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 overflow-hidden">
                            <div class="iq-main-header d-flex align-items-center justify-content-between">
                                <h4 class="main-title">Populares da Semana</h4>
                                <a href="#" class="iq-view-all" style="color: #FF7628;">Ver Mais</a>
                            </div>
                            <div class="favorite-contens">
                                <ul class="favorites-slider list-inline row p-0 mb-0">

                                        @foreach (var evento in events)
                                        {
                                            <li class="slide-item">
                                                <div class="block-images position-relative">
                                                    <div class="img-box">
                                                    <img src="@evento.Path?id=@evento.Id" style="width:100%; height:175px" class="img-fluid" alt="" />
                                                    </div>
                                                    <div class="block-description">
                                                        <h6 class="iq-title">
                                                            <a href="Eventos"> @evento.Name </a>
                                                        </h6>
                                                        <div class="movie-time d-flex align-items-center my-2">
                                                            <div class="badge badge-secondary p-1 mr-2">+18</div>
                                                            <span class="text-white" style="margin-left: 5px;">
                                                                @evento.Pub.User.Name
                                                            </span>
                                                        </div>
                                                        <a asp-action="Index"
                                                           asp-controller="Event"
                                                           asp-route-id="@evento.Id">
                                                            <div class="hover-buttons">
                                                                <span class="btn btn-hover iq-button">
                                                                    <i class="fa fa-play mr-1"></i>
                                                                    Mais Detelhes
                                                                </span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Gêneros Musicais -->
    <div class="container-xxl py-3">
        <div class="container">
            <!-- favorite section starts   -->
            <section id="iq-favorites">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 overflow-hidden">
                            <div class="iq-main-header d-flex align-items-center justify-content-between">
                                <h4 class="main-title">Gêneros Musicais</h4>
                                <a href="#" class="iq-view-all" style="color: #FF7628;">Ver Mais</a>
                            </div>
                            <div class="favorite-contens">
                                <ul class="favorites-slider list-inline row p-0 mb-0">
                                    @foreach(var category in categorias)
                                    {
                                        <li class="slide-item">
                                            <div class="block-images position-relative">
                                                <div class="img-box">
                                                    <img src="@category.Image" style="width:100%; height: 175px" class="img-fluid" alt="" />
                                                </div>
                                                <div class="block-description">
                                                    <h6 class="iq-title">
                                                        <a>@category.Name</a>
                                                    </h6>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>